<div id="footer">
	<div>
		<ul class="navigation">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li class="active">
						<a href=“travel.html">Travel</a>
					</li>
					<li>
						<a href="rooms.html">Rooms</a>
					</li>
					<li>
						<a href=“meals.html">Meals</a>
					</li>
					<li>
						<a href="news.html">News</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
					<a href="contact.html">Contact</a>
			</li>
		</ul>
    </div>
</div>